:root {
  --blue: #1464f6;
  --gray: #f7f6f6;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "ABeeZee", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
span {
  margin: 0;
  color: var(--blue);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 72px;
  line-height: normal;
  margin-bottom: 50px;
}

img {
  width: 300px;
  margin-left: 100px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 0;
}

.description {
  margin-top: 0;
  font-size: 16px;
  font-weight: normal;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin-left: 0px;
  margin-right: 15px;
}

.section-icon {
  width: 200px;
}

.circle {
  transition: transform 0.2s;
  border-radius: 50%;
}

.circle:hover {
  transform: scale(1.2);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 100%;
}

.dropdown {
  padding: 0;
  color: black;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: color 0.1s linear;
}

.dropdown:hover {
  color: var(--blue);
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gray {
  background-color: var(--gray);
}

.text {
  line-height: 1.75;
  width: 450px;
}

.image {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100px;
  padding: 40px 0;
}

/* The font we're using has some weird left margin for the capital letters */
.cap-offset {
  margin-left: -4px;
}

.footer {
  padding: 20px 0;
}

.theme-switch {
  position: absolute;
  top: 10px;
}

.theme-icon {
  width: 30px;
}

#toggle-light,
#toggle-night {
  filter: brightness(0);
}
